/vendor/
/node_modules/

/public/build/
/public/hot
/public/storage
/build/

/storage/*.key
/storage/app/public/*
!/storage/app/public/.gitignore

/.env
/.env.backup
/.env.production
auth.json

/.phpunit.result.cache
/.phpunit.cache/
npm-debug.log
yarn-error.log

/.fleet
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml

*.sql
*.sql.gz
*.sql.gz.gpg
*.dump
*.bak
*.err.txt
/storage/backups/
/tmp/
/public/*.xlsx
