.btna:hover{
    color:black !important
}
.card-border{
    width: 105%;
    margin-left: -30px;
}



div#password_overlay.p-password-overlay.p-component{
    position:fixed !important;
    display: block !important;
    top: 55% !important;
}
div.p-multiselect-overlay.p-component{
    position:fixed !important;
    display: block !important;

}
input.p-inputtext.p-component.p-password-input{
    width: 100%;
}

.p-inputtext:enabled:focus{
    border-color: black !important;
}
.p-floatlabel:has(input:focus) label{
    color:black !important;
}


#table{
    border-radius: 50px !important;
}
