.btna:hover{
    color: var(--buttonPrimary, black) !important
}
.card-border{
    width: 100%;
    max-width: 100%;
    margin-left: 0;
}



div#password_overlay.p-password-overlay.p-component{
    position:fixed !important;
    display: block !important;
    top: 55% !important;
}
div.p-multiselect-overlay.p-component{
    /* position:fixed !important; */
    display: block !important;

}
input.p-inputtext.p-component.p-password-input{
    width: 100%;
}

.p-inputtext:enabled:focus{
    border-color: var(--borderHover, black) !important;
}
.p-floatlabel:has(input:focus) label{
    color: var(--buttonPrimary, black) !important;
}


#table{
    border-radius: 50px !important;
}
